@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold/Montserrat-Bold.ttf");
  src: url("./fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("./fonts/Montserrat-Bold/Montserrat-Bold.woff"); }

@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light/Montserrat-Light.ttf");
  src: url("./fonts/Montserrat-Light/Montserrat-Light.eot");
  src: url("./fonts/Montserrat-Light/Montserrat-Light.woff"); }

@-webkit-keyframes tadam {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  5.55556% {
    -webkit-transform: scale(0.9) rotate(-8deg);
            transform: scale(0.9) rotate(-8deg); }
  11.11111% {
    -webkit-transform: scale(0.9) rotate(-8deg);
            transform: scale(0.9) rotate(-8deg); }
  16.66667% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  22.22222% {
    -webkit-transform: scale(1.3) rotate(-8deg);
            transform: scale(1.3) rotate(-8deg); }
  27.77778% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  33.33333% {
    -webkit-transform: scale(1.3) rotate(-8deg);
            transform: scale(1.3) rotate(-8deg); }
  38.88889% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  44.44444% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); } }

@keyframes tadam {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  5.55556% {
    -webkit-transform: scale(0.9) rotate(-8deg);
            transform: scale(0.9) rotate(-8deg); }
  11.11111% {
    -webkit-transform: scale(0.9) rotate(-8deg);
            transform: scale(0.9) rotate(-8deg); }
  16.66667% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  22.22222% {
    -webkit-transform: scale(1.3) rotate(-8deg);
            transform: scale(1.3) rotate(-8deg); }
  27.77778% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  33.33333% {
    -webkit-transform: scale(1.3) rotate(-8deg);
            transform: scale(1.3) rotate(-8deg); }
  38.88889% {
    -webkit-transform: scale(1.3) rotate(8deg);
            transform: scale(1.3) rotate(8deg); }
  44.44444% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0); } }

header {
  background: #0d2e3f; }
  header nav.uk-navbar-container {
    background: transparent !important;
    padding-top: 10px;
    padding-bottom: 23px; }
    header nav.uk-navbar-container div ul li a {
      color: #fff;
      text-transform: none;
      font-size: 20px;
      font-family: "Montserrat-Bold";
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      width: 140px;
      height: 50px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      border: 1px solid transparent; }
    header nav.uk-navbar-container div ul li:hover a {
      color: #0d2e3f;
      background-color: #fff;
      border-color: #0d2e3f; }
    header nav.uk-navbar-container div ul li.last a {
      margin-left: 5px;
      width: 200px;
      text-transform: uppercase;
      background-color: #f6cd19; }
    header nav.uk-navbar-container div ul li.last:hover a {
      background-color: rgba(246, 205, 25, 0.8);
      color: #fff; }
    header nav.uk-navbar-container div ul li.first {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      header nav.uk-navbar-container div ul li.first:hover a {
        background-color: transparent; }
  header .mobile-version .boundary-align {
    background-color: rgba(13, 46, 63, 0.6); }
    header .mobile-version .boundary-align button {
      border: none; }
      header .mobile-version .boundary-align button svg {
        color: #fff; }
    header .mobile-version .boundary-align div.uk-margin-remove {
      background-color: rgba(13, 46, 63, 0.9); }
      header .mobile-version .boundary-align div.uk-margin-remove ul li a {
        color: #fff !important; }

footer {
  background: #0d2e3f;
  padding-top: 50px;
  padding-bottom: 50px; }
  footer .uk-container .uk-grid .logo a {
    text-align: left; }
    footer .uk-container .uk-grid .logo a img {
      width: 150px;
      height: 80px; }
  footer .uk-container .uk-grid .item .address {
    text-align: center; }
    footer .uk-container .uk-grid .item .address p {
      font-size: 20px; }
    footer .uk-container .uk-grid .item .address a {
      color: #fff;
      font-weight: 600;
      font-size: 14px; }
      footer .uk-container .uk-grid .item .address a:hover {
        -webkit-text-decoration-color: #fff;
                text-decoration-color: #fff; }

body {
  font-family: "Montserrat-Light"; }

.uk-sticky-placeholder {
  height: 0 !important; }

.uk-height-large-l {
  height: 770px; }

.uk-grid-small {
  margin-left: -15px; }

.uk-container-smaller {
  max-width: 1000px; }

.uk-container-xsmall {
  max-width: 700px; }

.com-header {
  font-size: 35px;
  color: #fff; }

.com-text {
  font-size: 25px;
  color: #fff; }

section.banner a.go {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: #f6cd19;
  padding: 20px 60px;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Montserrat-Bold"; }
  section.banner a.go:hover {
    background-color: rgba(246, 205, 25, 0.6);
    text-decoration: none; }

section.technologies {
  background-color: #0d2e3f;
  padding-top: 100px;
  padding-bottom: 100px; }
  section.technologies div .uk-grid {
    padding-top: 80px; }
    section.technologies div .uk-grid div .uk-card {
      background-color: #1d3a4a;
      padding: 10px;
      cursor: pointer; }
      section.technologies div .uk-grid div .uk-card .img img {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      section.technologies div .uk-grid div .uk-card:hover .img img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }
      section.technologies div .uk-grid div .uk-card .img {
        margin-left: 4%; }
      section.technologies div .uk-grid div .uk-card .text p.about {
        color: #fff;
        font-size: 16px; }

section.how-we-work {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f6cd19; }
  section.how-we-work .uk-text-center h2, section.how-we-work .uk-text-center p {
    color: #0d2e3f; }
  section.how-we-work div .uk-grid {
    padding-top: 50px; }
    section.how-we-work div .uk-grid .uk-card {
      padding: 15px;
      cursor: pointer; }
      section.how-we-work div .uk-grid .uk-card .img img {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      section.how-we-work div .uk-grid .uk-card:hover .img img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }

section.projects {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff; }
  section.projects .uk-text-center h2, section.projects .uk-text-center p {
    color: #0d2e3f; }
  section.projects div .uk-grid {
    padding-top: 50px; }
    section.projects div .uk-grid .uk-card {
      padding: 15px;
      cursor: pointer; }
      section.projects div .uk-grid .uk-card .img img {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      section.projects div .uk-grid .uk-card:hover a {
        text-decoration: none; }
        section.projects div .uk-grid .uk-card:hover a .img img {
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%); }

section.tech {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #0d2e3f; }
  section.tech div .uk-grid {
    padding-top: 50px; }
    section.tech div .uk-grid .uk-card {
      padding: 15px;
      cursor: pointer; }
      section.tech div .uk-grid .uk-card .img img {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      section.tech div .uk-grid .uk-card:hover .img img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }

section.your-idea {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #f6cd19; }
  section.your-idea .uk-text-center h2, section.your-idea .uk-text-center p {
    color: #0d2e3f; }
  section.your-idea .uk-container form label {
    color: #0d2e3f;
    font-family: "Montserrat-Light"; }
  section.your-idea .uk-container form input, section.your-idea .uk-container form textarea {
    border: 2px solid #0d2e3f;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin-top: 5px; }
  section.your-idea .uk-container form .uk-button {
    width: 100%;
    background-color: #0d2e3f;
    color: #fff;
    text-transform: none;
    font-size: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    section.your-idea .uk-container form .uk-button:hover {
      background-color: rgba(13, 46, 63, 0.6); }

@media screen and (max-width: 960px) {
  header {
    padding: 30px !important; } }

@media screen and (max-width: 640px) {
  p.com-text {
    font-size: 17px; }
  h1.com-header {
    font-size: 30px; }
  footer .uk-container .uk-grid .logo a {
    text-align: center; } }
