body {
    background-color: #f6cd19;
}
.form_brief {
    background: #fff;
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);   */
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-radius: 1px;   
}


input[type=checkbox],
input[type=radio] {
    margin-right: 8px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input[type=submit],
.btn-link {
    margin-top: 20px;
}

.container {
    padding: 95px;
    max-width: 86%;
}

.title {
    margin-bottom: 20px;
    color: #222;
    font-weight: 400;
    font-size: 31px;
}

.title_desc {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #222;
}

.title_text {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.button_add {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    padding: 10px 17px 8.2px 17px;
    cursor: pointer;
    outline: none;
    color: #32d296;
}

.btn_another_radio{
    background-color: #fff !important;
    border: none;
    color: #222;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: -5px -1px;
    position: relative;
}

svg:not(:root) {
    overflow: hidden;
    position: absolute;
    left: -3px;
    top: -9px;
}

.btn_another_check{
    background-color: #fff !important;
    border: none;
    color: #222;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: -5px 1px;
    display: block;
    position: relative;
}

.button_minus {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    padding: 9.2px 17px;
    cursor: pointer;
    margin-left: 9px;
    position: absolute;
    outline: none;
    color: #f0506e;
}
.form-input {
    display: inline-block;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    padding: 18.5px 15px;
}
.form-group {
    display: inline-block;
    width: 80%;
    margin-right: 20px;
    margin-bottom: 5px;
}
.input_span {
    line-height: 1rem;
    padding: 10px 15px;
    white-space: nowrap;
}
.button_submit {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    background: #0d2e3f;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 350;
    text-transform: uppercase;
    padding: 10px 45px 10px 45px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    float: right;
}
.button_clear {
    background: gray;
    margin-top: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
    outline: none;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 350;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    display: inline-block;
}
.item_form {
    width: 96%;
    display: inline-block;
    margin-right: -30px;
}

.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon {
    /* background: #5764c6; */
    border-color: #c1c1c1;
}
.span_p {
    display: inline-block;
    line-height: 1rem;
    padding: 13.5px 20px 13.5px 0;
    white-space: nowrap;
    margin-top: 10px;
}
.form-group-mod {
    width: 82%;
}
.form-group-data {
    width: 83%;
}
.span_p_do {
    padding: 13.5px 67px 13.5px 0;
}
.span_p_see {
    padding: 13.5px 67px 13.5px 0;
}

.form-group-textarea {
    width: 96%;
}
textarea:focus, input:focus {
    outline: none !important;
    border: 1px solid #e5e5e5 !important;
}
.form_title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
}
.left {
    display: inline-block;
    width: 50%;
}
.right {
    display: inline-block;
    width: 50%;
    text-align: right;
}
.button_submit:focus {
    border: none! important;
}
.sub_text {
    margin-bottom: 0px;
}

.icon-plus::before, .icon-minus::before, .icon-cross::before{
    height: 2px;
}

.icon-plus::after, .icon-cross::after{
    width: 2px;
}

.icon-minus{
    color: #0d2e3f;
}

.icon-plus{
    color: #f6cd19;
}

.form-group-textarea{
    width: 97%;
}

.rect_check{
    fill:rgb(255, 255, 255);
    stroke-width:1;
    stroke: #c1c1c1
}

.svg_check{
    top: 6px;
    left: 0px;
}

.svg_check:not(:root){
    left: 0px;
    top: 6px;
}

.span_p_name{
    padding: 13.5px 77px 13.5px 0;
}

.span_p_tel{
    padding: 13.5px 50px 13.5px 0;
}
.hr_style{
    margin: 50px 0;
    border-top: 1px;
}

.img_style{
    width: 200px !important; 
    height: 150px !important;
}

/* Namba Soft style */

.banner_div{
    background-image: linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.3)), url(img/banner1.jpg);
}

.slash{
    color: #fff; 
    margin-bottom: 4px;
    margin-top: 17px;
}

.technologies_head{
    padding-right: 5px;
    padding-left: 5px
}

.uk-navbar-container{
    position: relative; 
    z-index: 980;
}

.translate-button {
    color: #fff;
    font-size: 20px;
    font-family: Montserrat-Bold;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 17px;
  }
  .translate-button:hover {
    color: #fff;
    font-size: 20px;
    font-family: Montserrat-Bold;
    text-decoration: none;
  }
